<%-include('../../partials/header.ejs')%>
<body>
    <%-include('../../partials/navbar.ejs')%>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Edição de artigos</h2>
            </div>
            <div class="card-body">
                <form method='POST' action="/articles/update">
                    <input id="regisBar" type="text" name="title" value='<%= articles.title%>'><br><br>
                    <textarea class="form-control" name="body" id="article"><%= articles.body%></textarea><br>
                    <label>Categoria</label>
                    <select name="category" class="form-control">
                        <% categories.forEach((category)=> { %>
                            <% if(category.id == articles.categoryId) { %>
                                <option value="<%= category.id %>" selected><%= category.title %></option>
                            <% } else { %>
                                <option value="<%= category.id %>"><%= category.title%></option>
                                <% } %>
                        <% }) %>
                    </select>
                    <br>
                    <input type="hidden" name="id" value="<%=articles.id%>">
                    <button class="btn btn-success">Atualizar</button>
                </form> 
            </div>  
        </div> 
    </div>
        
</body>
<%-include('../../partials/footer.ejs')%>

<script src="/tinymce/tinymce.min.js"></script>
<script>

   tinymce.init({
       language:'pt_BR',
       selector:'#article',
       plugins:[
           'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
       ]
   })
   
</script>